@charset "UTF-8";
@import '../../../style/theme/var.css';

@component-namespace kl {
    @b table {
        @e main {
            table-layout: fixed;
            width: 100%;
            @e thead {
                background: #eef1f4;
                font-size: 12px;
                color: #333;
                @e th {
                    padding: 6px 8px;
                    line-height: 16px;
                    word-wrap: break-word;
                    text-align: center;
                }
            }
            @e tbody {
                font-size: 12px;
                @e td {
                    padding: 6px 8px;
                    line-height: 16px;
                    word-wrap: break-word;
                    text-align: center;
                    border-bottom: 1px solid #ecf2f9;
                }
            }
        }
    }
}